body {
	font-family: Avenir Next;
	color:#2C3E50;
	background-color: #ECF0F1;
	margin:0;
	padding:0;
	text-align: center
}

.container{
	color:#2C3E50;
}

a{
	text-decoration: none;
}

.header{
	font-weight: 100;
	font-size: 3em;
	margin-right:2vw;
	margin-left:2vw;
	margin-top:2vh;
	text-align: center;
	color: #2C3E50;

}

.toggle{
	text-align: center;
	margin-top:20px;
}

.version{
	border: 1px #545454 solid;
	color:#545454;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:50px;
	padding-right:50px;
	display: inline-block;
	transition: all 0.1s ease-in;
}

.version:hover{
	cursor: pointer;
	background-color: #545454;
	color:#fff;
	border:#545454 1px solid;
}

.btn11{
	border-radius: 10px 0px 0px 10px;
}

.btn14{
	border-radius: 0px 10px 10px 0px;
	margin-left:-1px;
}


/*---------------Champion Page------------------*/


.champion_page{
	text-align: center
}

.champion_bkgd {
	overflow: hidden;
	width:100vw;
	height:40vh;
	position: relative;
	top:0;
	left:0;
	z-index: 0;

}

.champion_img{
	width:100%;
}

.champion_title{
	color:#fff;
	font-size: 5em;
	font-weight: 100;
	position: absolute;
	bottom:0;
	z-index: 2;
	left:20vw;
}

.bkgd_overlay{
	position: absolute;
	bottom:0;
	left:0;
	width:100vw;
	height:30vh;
	z-index: 1;
	background: -webkit-linear-gradient(transparent, #000)

}

.table_container{
	margin-top: 5vh;
	margin-bottom:5vh;
	width:80vw;
	display: inline-block;
	position: relative;
	top:0;
	left:0;
}

.table_col{
	margin:0;
	padding-top:2vh;
	padding-bottom:2vh;
	position: absolute;
	top:0;
	width:40vw;
	text-align: left;
	margin-bottom:5vh;
}

.col11{
	left:0;
	background-color: #ffb4d9;
	border-radius: 10px 0px 0px 10px;
}

.col14{
	right:0;
	background-color: #b4d9ff;
	border-radius: 0px 10px 10px 0px;
}

.col_title{
	position: absolute;
	top:0;
	font-size: 5em;
	font-weight: 500;
	opacity: 0.3;
}

.title11{
	left:0;
}

.title14{
	right:0;
}

.col_content{
	font-size: 1.5em;
	margin-top:10vh;
	margin-left:5vw;
	margin-bottom:5vh;
}

.col_table{
	width:30vw;
}

.col_data{
	text-align: right;
}

.items_container{
	width:30vw;
	text-align: left;
}

.item{
	display: inline-block;
}

.item_img{
	width:50px;
	height:50px;
}

.item_stats{
	text-align: center
}