body {
	font-family: Avenir Next;
	color:#2C3E50;
	background-color: #ECF0F1;
	margin:0;
	padding:0;
	text-align: center;
}

.container{
	color:#2C3E50;
}

a{
	text-decoration: none;
}

.header{
	font-weight: 100;
	font-size: 3em;
	margin-right:2vw;
	margin-left:2vw;
	margin-top:2vh;
	text-align: center;
	color: #2C3E50;

}

.about_button{
	color:#b8b8b8;
	transition: all 0.1s ease-in;
	width:100%;
	display: inline-block;
}

.about_button:hover{
	color: #2C3E50;
	cursor: pointer;
}

.toggle{
	text-align: center;
	margin-top:10px;
}

.version{
	border: 1px #545454 solid;
	color:#545454;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:50px;
	padding-right:50px;
	display: inline-block;
	transition: all 0.1s ease-in;
}

.version:hover{
	cursor: pointer;
	background-color: #545454;
	color:#fff;
	border:#545454 1px solid;
}

.btn11{
	border-radius: 10px 0px 0px 10px;
}

.btn14{
	border-radius: 0px 10px 10px 0px;
	margin-left:-1px;
}


/*---------------Champion Page------------------*/


.champion_page{
	text-align: center;
	color:#cfcfcf;
}

.champion_bkgd {
	overflow: hidden;
	width:100vw;
	height:100vh;
	position: relative;
	top:0;
	left:0;
	z-index: 0;

}

.champion_img{
	width:100%;
}

.champion_title{
	color:#fff;
	font-size: 5em;
	font-weight: 100;
	position: absolute;
	top:5vh;
	z-index: 100;
	right:10vw;
}

.bkgd_overlay{
	position: absolute;
	top:0;
	left:0;
	width:100vw;
	height:100vh;
	z-index: 1;
	background: -webkit-linear-gradient( #000, transparent)

}

.table_container{
	margin-left:10vw;
	margin-right:10vw;
	width:80vw;
	height:70vh;
	display: inline-block;
	position: absolute;
	top:20vh;
	left:0;
	z-index: 1;
	box-shadow: 0px 0px 2px 2px rgba(174, 174, 174, 0.4);
	border-radius:10px;
}


.table_col{
	margin:0;
	position: absolute;
	top:0;
	width:40vw;
	text-align: left;
	margin-bottom:5vh;
	height:70vh;
}

.about {
	width:80vw;
	border-radius: 10px 10px 10px 10px;
	background-color: rgba(0, 0, 0, 0.80);
	left:0;
}

.col11{
	left:0;
	background-color: rgba(0, 0, 0, 0.80);
	border-radius: 10px 0px 0px 10px;


}

.item_title{
	width:30vw;
	text-align: right
}

.col14{
	right:0;
	background-color: rgba(0,0, 0, 0.80);
	border-radius: 0px 10px 10px 0px;
}

.col_title{
	position: absolute;
	bottom:0;
	font-size: 5em;
	font-weight: 500;
	opacity: 0.3;
}

.title11{
	left:1vw;
}

.title14{
	right:1vw;
}

.col_content{
	font-size: 1.5em;
	margin-top:10vh;
	margin-left:5vw;
	margin-bottom:5vh;
}

.about_content{
	width:70vw;
	font-size:0.9em;
	margin-top:20px;
}

.foot_content{
	font-size: 0.75em;
	margin-top:50px;
}

.col_table{
	width:30vw;
}

.col_data{
	text-align: right;
}

.items_container{
	width:30vw;
	text-align: left;
	vertical-align: middle;
}

.item{
	display: inline-block;
	vertical-align: middle;
}



.about_item_container{
	margin-top:20px;
	text-align: center;
}

.item_img{
	width:50px;
	height:50px;
}

.item_stats{
	text-align: center;
	font-size: 0.6em;
}

.buildtype{
	font-size: 1.3em;
}

.back{
	position: absolute;
	top:15vh;
	left:10vw;
	color:#d4d4d4;
	z-index: 2;
	transition:all 0.1s linear;
}

.back:hover{
	color:#505050;
};