<!DOCTYPE html>
<html lang="en">
  <head>

    {% block head %}
    
    <title>Ability Utility{% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="LuciferXFlame">
    <meta charset="utf-8">

    <link type = "text/css" href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.ico') }}">

    {% endblock %}

    <script type="text/javascript" src="{{ url_for('static', filename='js/google.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.11.1.min.js')}}"></script>
  

  </head>

<body>


  {% block content %}


  {% endblock %}

</body>


</html>
